{{> headerSuggestions}}
<section class="section">
  <div id="main-panel" class="columns">
    <div d="book-image-current" class="column is-one-quarter">
      <br>
    </div>
    <div class="column is-three-quarters">
      <form id="new-book-form" action="/books" method="post">
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input is-success" id="bookTitle" name="bookTitle" type="text" required>
          </div>
        </div>
        {{#if message}}
        <p>
          {{message}}
        </p>
        <br>
        {{/if}}
        <div class="field">
          <label class="label">Author</label>
          <div class="control">
            <input class="input is-success" id="author" name="author" type="text" required>
          </div>
        </div>
        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <input class="input is-success" id="description" name="description" type="text" required>
          </div>
        </div>
        <div class="field">
          <label class="label">Book Cover Image</label>
          <div class="control">
            <input class="input is-success" id="bookCover" name="bookCover" type="text" >
            <p class="help"> Make the image file in your Google Drive public, using the 'Anyone with the link' setting. In this link is the unique ID of the file(DRIVE_FILE_ID). </p>
            <p class="help"> Example: https://drive.google.com/file/d/DRIVE_FILE_ID/view. Copy and paste the DRIVE_FILE_ID into field above. </p>
          </div>
        </div>
        <div class="field">
          <label class="label">Give a reason why you want to read this book</label>
          <div class="control">
            <input class="input is-success" id="reason" name="reason" type="text" >
            <p class="help"> Optional </p>
          </div>
        </div>
        <div class="field">
          <p class="control">
            <button class="button is-success" type="submit" value="Submit">
              Submit
            </button>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>