<section class="section has-background-link-light">
  <div id="top-panel" class="columns">
    <div class="column is-one-quarter has-text-link">
      <h1 class="title is-size-1">Book Club</h1>
      <p class="subtitle is-4">Logged in as {{session.user.userName}}</p>
      <a href="/books"><button class="button is-medium is-link"><p
          >Books</p></button></a><form action='/sessions?_method=DELETE' method='POST'>
        <input class="button is-medium is-link" type="submit" value="Log Out">
      </form>
    </div>
    <div id="main-container" class="column is-three-quarters tile is-ancestor">

    </div>
  </div>
</section>
<br />
<section class="section">
  <div id="main-panel" class="columns">
    <div d="book-image-current" class="title column is-one-quarter">
    </div>
    <br>

    <div class="column is-three-quarters">

      <h5 class="title is-size-5">Suggest a book:</h5>

      <form id="new-book-form" action="/books" method="post">
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input is-link" id="bookTitle" name="bookTitle" type="text" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Author</label>
          <div class="control">
            <input class="input is-link" id="author" name="author" type="text" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <input class="input is-link" id="description" name="description" type="text" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Reason</label>
          <div class="control">
            <input class="input is-link" id="reason" name="reason" type="text" >
            <p class="help"> Optional </p>
          </div>
        </div>

        <div class="control">
          <button class="button is-link" type="submit" >Submit</button>
        </div>
      </form>
  </div>

</section>

