<link rel="stylesheet" href="./../style.css" />
{{> header}}
<section class="section">
  <div class="container">
    <div id="main-panel" class="columns">
      <div d="book-image-current" class="column is-one-quarter">
      </div>
      <div class="column is-three-quarters">
        <div class="reading-list columns is-multiline">
          {{#each books}}
          <div class="books column is-3 has-text-centered">
            <a href="/books/?selectedBook={{this._id}}">
              <img
                src="https://drive.google.com/uc?id={{this.bookCover}}"
                width="150"
                alt="Google Drive Image"
              />
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>
    