<header>
  <section class="section has-background-link-light">
    <div class="container">
      <div id="top-panel" class="columns">
        <div class="column is-one-quarter">
          <a href="/books">
            <h1 class="title is-size-1 has-text-weight-light">
              Book Club
            </h1>
          </a>
          <h1 class="subtitle is-size-4">
            
              <p>{{getCurrentYear}} Reading List</p>
            
          </h1>
          
          <div class="field is-grouped">
            <div class="field control">
                <button onClick="saveCanvas();" class="button is-link" disabled>
                    Download reading list
                </button>
            </div>
            
          </div>
        </div>  
      <div id="main-container" class="column is-three-quarters tile is-ancestor">
      </div>
    </div>
  </section>
</header>