<header>
  <section class="section has-background-link-light">
    <div class="container">
      <div id="top-panel" class="columns">
        <div class="column is-one-quarter">
          <a href="/books">
            <h1 class="title is-size-1 has-text-weight-light">
              Book Club
            </h1>
          </a>
          <div>
            <h1 class="subtitle is-size-4">
              <p><a href="/sessions/new">Download Reading List </a></p>
            </h1>
          </div>
          {{#if session.user}}
          <p>Logged in as {{session.user.userName}}.</p>
          {{else}}
          <br>
          <p>Not logged in.</p>
          {{/if}}
    </div>  
      <div id="main-container" class="column is-three-quarters tile is-ancestor">

      </div>
    </div>
  </section>
</header>