<div class="container">
  <div align="center">
    {{#if session.user}}
      <p>Hello {{session.user.userName}}</p>
      <form action="/sessions?_method=DELETE" method="POST">
        <input class="button is-link" type="submit" value="Log Out" />
      </form>
    {{else}}
      <a href="/sessions/new" class="button is-link">Log In</a>
      <a href="/users/new" class="button is-link">Sign Up</a>
    {{/if}}
  </div>
</div>