<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bookclub</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>
  <body>
    <script src="html2canvas.js"></script>
    <script>
    function saveCanvas() { 
      console.log("before button pushed to save canvas!")

      html2canvas(document.querySelector("#capture"))
        .then(canvas => { 
          const image = canvas
          .toDataURL("image/png") 
          .replace("image/png","image/octet-stream")
          
          window.location.href=image; 
          }); 
          console.log("after button pushed to savecanvas!"
          ); 
    }
  </script>
    {{{body}}}
    {{> footer}}
  </body>
</html>