<h2>Remote Book Club</h2>
<ul>
  <li class="midlaner">Book 1</li>
  <li class="midlaner">Book 2</li>
  <li class="toplaner">Book 3</li>
  <li class="midlaner">Book 4</li>
  <li class="toplaner">Book 5</li>
</ul>