{{> header}}

<section class="section">
  <div class="container">
    <div class="title is-4">
        Work-in-progress website for tracking books.
    </div>
    <div class="subtitle is-4">
      Made with:
        MongoDB,
        Express,
        NodeJS.
    </div>
    <div class="subtitle is-4">
      Log in to view using email: <strong>marie@example.com</strong> & password: <strong>Test1234</strong>
    </div>
  </div>
</section>



