<section class="section">
  <div id="main-panel" class="columns">
    <div d="book-image-current" class="title column is-one-quarter">
    </div>
    <br>
    <div class="column is-three-quarters">

      <form id="new-session-form" action="/sessions" method="post">

        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input is-link" id="email" name="email" type="email" >
          </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input is-link" id="password" name="password" type="password" >
          </div>
        </div>

        <div class="control">
          <button class="button is-link" type="submit" value="Submit">Log in</button>
        </div>
      </form>
       <p class="help">Not got an account? <a href="/users/new">Click Here</a></p>
  </div>
 <p id="error">{{message}}</p>
  {{#message}}
  <iframe src="https://giphy.com/embed/njYrp176NQsHS" width="480" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  {{/message}}
</section>

