{{> header}}
<section class="section">
  <div id="main-panel" class="columns">
    <div d="book-image-current" class="title column is-one-quarter">
    </div>
    <br>
    <div class="column is-three-quarters">
      <form id="new-user-form" action="/users" method="post">
        <div class="field">
          <label class="label">
            Username
          </label>
          <div class="control">
            <input class="input is-link" id="userName" name="userName" type="text" required>
          </div>
        </div>
        <div class="field">
          <label class="label">
            Email
          </label>
          <div class="control">
            <input class="input is-link" id="email" name="email" type="email" required>
          </div>
        </div>
        {{#if message}}
        <p class="help">
        {{message}}
        </p>
        <br>
        {{/if}}
        <div class="field">
          <label class="label">
            Password
          </label>
          <div class="control">
            <input class="input  is-link" minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="password" type="password" name="password" required>
          </div>
          <p class="help">
            Must contain an uppercase letter, a lowercase letter, a number and have minimum eight characters.
          </p>
        </div>
        <div class="control">
          <button class="button is-link">
            Sign up
          </button>
        </div>
      </form>
    </div>
  </div>
</section>





